header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  background-color: var(--tertiary-color);
}

header img {
  width: 5rem;
}

header a {
  color: var(--main-color);
  font-size: 1.6rem;
  transition: all 0.3s linear;
}

header a:hover {
  color: var(--secondary-color);
}
