main {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  gap: 5rem;
}

#categories {
  border: 1px solid rgb(172, 172, 172);
  border-radius: 10px;
}

#categories h3 {
  margin: 5px auto;
  text-align: center;
  font-size: 2rem;
}

#categories li {
  padding: 10px 20px;
  border-radius: 10px;
  margin: 5px auto;
  font-size: 1.5rem;
}

#categories li span {
  padding: 0 20px;
}

.cardsContainer {
  border: 1px solid rgb(172, 172, 172);
  border-radius: 10px;
  padding: 0 20px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 30rem;
  margin: 10px auto;
}

.informations {
  display: flex;
  flex-direction: column;
}
